* {
  background-color: #F2B6CC;
  margin: 0.2vmax;
  color: #fff;
  /* selects all elements */
}
.pink {
  background-color: #F2B6CC;
/* seperate div strictly for background color. could not do in * because I did not want to impact entire site. */
}

.halfTwo {
  display: flex;
  background-image: url('https://images.unsplash.com/photo-1509731987499-fd9bba3a46cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  width: 45vw;
  height: 100vh;
  float: right;
  position: relative; bottom: 77vmax;
  background-position: center;
/* Isolating one half of the page or what I refer to as my pink section. */

}
.halfOne {
  background-color: #2A1440;
  width: 50vw;
  height: 100vh;
/* purple half of page.  */
}

.whatsUp {
  text-align: right;
  font-family: 'Adamina', serif;
  font-weight: lighter;
  font-size: 2vmin;
  opacity: 0.6;
  text-decoration: overline;
  background-color: transparent;
  padding-top: 2vmin;
  /* piece of text at top right corner. */
}

.hello {
  font-family: 'Adamina', serif;
  position: relative; top: 20vmin;
  text-align: left;
  font-size: 4vmin;
  background-color: transparent;
  /* making the backgrond color transparent takes away the div color entirely.  */
}

a {
  background-color: #2A1440;
  text-decoration: none;
  /* taking away underline of link. */
}

.purpleHalf {
  display: flex;
  flex-direction: column;
  padding-right: 75vmin;
  /* this is the lower half of the purple half. */
}

.lookDown, .didYou, .goodDay {
  position: relative; bottom: 70vmin; left: 40vmin;
  font-family: 'Adamina', serif;
  opacity: 0.6;
  width: 16vmax;
  font-weight: lighter;
  background-color: transparent;
  /* seperating classes by commas mean that all wil be impacted by the listed attributes. */
}

/* these are all the text divs in the bottom half of the purple section.  */
.lookDown {
  font-family: sans-serif;
  font-size: 2vmin;
  text-transform: uppercase;
}

.didYou {
  font-size: 6vmin;
  width: 45vmin;
}

.goodDay {
  font-size: 5vmin;
  width: 48vmin;
  opacity: 1;
}

.que {
  background-color: transparent;
  flex-direction: row;
  position: relative;
  bottom: 70vmin;
  left: 40vmin;
  width: 47vmin;
  line-height: 1.5;
  opacity: 0.6;
}

a:hover {
  color: #F2B6CC;
  /* interavtivity element */
}
